section.breadcrumbs
    ul.breadcrumbs__list 
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Home
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Sub Page 2
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Sub Page 3
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Sub Page 4