-
    const data = [
    {name: 'All',
    value: 'all',
    path: 'img/all.svg',
    class: 'pagination__control-mark--all',
    },
    {name: 'Windows',
    value: 'windows',
    path: 'img/windows.svg',
    class: 'pagination__control-mark--windows',},
    {name: 'macOS',
    value: 'macos',
    path: 'img/macOS.svg',
    class: 'pagination__control-mark--macos',},
    {name: 'Android',
    value: 'android',
    path: 'img/android.svg',
    class: 'pagination__control-mark--android',},
    {name: 'iPhone & iPad',
    value: 'ios',
    path: 'img/iOS.svg',
    class: 'pagination__control-mark--ios',},
    {name: 'Free tools',
    value: 'tools',
    path: 'img/tools.svg',
    class: 'pagination__control-mark--tools',},
    ]
