section.intro 
    picture.intro__pic 
        source(media="(min-width: 1920px)" srcset="img/intro.png")
        source(media="(min-width: 1024px)" srcset="img/intro-tablet.png")
        img.intro__img(src="img/intro-mobile.png" width="226" height="30" alt="Family looks at the tablet.")
    .intro__container
        include offer.pug
        .intro__wrapper
            h1.intro__title.light #[strong Lorem ipsm] dolor sit #[br] amet
            p.intro__text.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus eleifend mi eu faucibus. Aliquam erat volutpat. Pellentesque dui nisl, consectetur sit amet hendrerit at, commodo ac nunc.
